In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns
data=pd.read_csv('C:\\Users\\Amit\\Desktop\\sumit work\\data\\weather_description\\weather_description.csv')

In [2]:
data.head()

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,haze,NaN,NaN,NaN
1,2012-10-01 13:00:00,mist,scattered clouds,light rain,sky is clear,mist,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,overcast clouds,sky is clear,sky is clear,sky is clear,haze,sky is clear,sky is clear,sky is clear
2,2012-10-01 14:00:00,broken clouds,scattered clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,sky is clear,sky is clear,broken clouds,overcast clouds,sky is clear,overcast clouds
3,2012-10-01 15:00:00,broken clouds,scattered clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
4,2012-10-01 16:00:00,broken clouds,scattered clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds

## Checking for missing values in the dataset

In [3]:
data.isnull().sum()

datetime               0
Vancouver            793
Portland               1
San Francisco        793
Seattle                1
Los Angeles            1
San Diego              1
Las Vegas              1
Phoenix                1
Albuquerque            1
Denver                 1
San Antonio            1
Dallas                 1
Houston                1
Kansas City            1
Minneapolis            1
Saint Louis            1
Chicago                1
Nashville              1
Indianapolis           1
Atlanta                1
Detroit                1
Jacksonville           1
Charlotte              1
Miami                793
Pittsburgh             1
Toronto                1
Philadelphia           1
New York             793
Montreal               1
Boston                 1
Beersheba            793
Tel Aviv District    793
Eilat                792
Haifa                793
Nahariyya            793
Jerusalem            793
dtype: int64

## Creating a new data frame and droping the missing values from the dataset

In [4]:
df=data[['datetime','Los Angeles','Las Vegas']]
df=df.dropna()
df.head()

              datetime   Los Angeles     Las Vegas
1  2012-10-01 13:00:00          mist  sky is clear
2  2012-10-01 14:00:00  sky is clear  sky is clear
3  2012-10-01 15:00:00  sky is clear  sky is clear
4  2012-10-01 16:00:00  sky is clear  sky is clear
5  2012-10-01 17:00:00  sky is clear  sky is clear

## Number of different labels in the given data

In [5]:
for feature in df.columns[:]:
    print(feature,":",len(df[feature].unique()),'labels')

datetime : 45252 labels
Los Angeles : 25 labels
Las Vegas : 23 labels

## Different type of unique weather condition on Los Angeles state

In [6]:
df['Los Angeles'].unique()

array(['mist', 'sky is clear', 'fog', 'haze', 'few clouds',
       'overcast clouds', 'scattered clouds', 'broken clouds',
       'light rain', 'thunderstorm with rain', 'moderate rain',
       'thunderstorm', 'shower rain', 'smoke', 'drizzle',
       'light intensity drizzle', 'heavy intensity rain',
       'light intensity shower rain', 'very heavy rain',
       'thunderstorm with light rain', 'proximity thunderstorm',
       'thunderstorm with heavy rain', 'squalls', 'dust',
       'proximity shower rain'], dtype=object)

In [7]:
df['datetime']=pd.to_datetime(df['datetime'])

In [8]:
df['datetime'].dt.day_name()

1           Monday
2           Monday
3           Monday
4           Monday
5           Monday
           ...
45248    Wednesday
45249    Wednesday
45250    Wednesday
45251    Wednesday
45252     Thursday
Name: datetime, Length: 45252, dtype: object

In [9]:
df['datetime'].min()

Timestamp('2012-10-01 13:00:00')

In [10]:
df['datetime'].max()

Timestamp('2017-11-30 00:00:00')

In [11]:
df['datetime'].max()-df['datetime'].min()

Timedelta('1885 days 11:00:00')

## Making a dummy variable to make the object data type to a categorical data type and name it as B
You can aviod this part if you want.

In [12]:
df["B"] = df['Los Angeles'].astype("category")
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45252 entries, 1 to 45252
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   datetime     45252 non-null  datetime64[ns]
 1   Los Angeles  45252 non-null  object
 2   Las Vegas    45252 non-null  object
 3   B            45252 non-null  category
dtypes: category(1), datetime64[ns](1), object(2)
memory usage: 1.4+ MB

In [13]:
df=df.dropna()
df['B']

1                mist
2        sky is clear
3        sky is clear
4        sky is clear
5        sky is clear
             ...
45248    sky is clear
45249    sky is clear
45250    sky is clear
45251    sky is clear
45252    sky is clear
Name: B, Length: 45252, dtype: category
Categories (25, object): ['broken clouds', 'drizzle', 'dust', 'few clouds', ..., 'thunderstorm with heavy rain', 'thunderstorm with light rain', 'thunderstorm with rain', 'very heavy rain']

## Finding the frequencies of the different unique weather situation

In [14]:
df['Los Angeles'].value_counts()

sky is clear                    26136
haze                             3532
mist                             2961
broken clouds                    2565
overcast clouds                  2432
scattered clouds                 2271
light rain                       1949
few clouds                       1757
fog                               566
moderate rain                     481
smoke                             203
heavy intensity rain              127
light intensity drizzle           104
dust                               66
proximity thunderstorm             25
very heavy rain                    20
thunderstorm                       17
thunderstorm with light rain       13
shower rain                         8
drizzle                             5
proximity shower rain               4
light intensity shower rain         3
squalls                             3
thunderstorm with heavy rain        2
thunderstorm with rain              2
Name: Los Angeles, dtype: int64

## Replacing categorial values with it's frequancy

In [15]:
weather_map=df['Los Angeles'].value_counts().to_dict()

In [16]:
df['Los Angeles']=df['Los Angeles'].map(weather_map)
df.head(10)

              datetime  Los Angeles     Las Vegas             B
1  2012-10-01 13:00:00         2961  sky is clear          mist
2  2012-10-01 14:00:00        26136  sky is clear  sky is clear
3  2012-10-01 15:00:00        26136  sky is clear  sky is clear
4  2012-10-01 16:00:00        26136  sky is clear  sky is clear
5  2012-10-01 17:00:00        26136  sky is clear  sky is clear
6  2012-10-01 18:00:00        26136  sky is clear  sky is clear
7  2012-10-01 19:00:00        26136  sky is clear  sky is clear
8  2012-10-01 20:00:00        26136  sky is clear  sky is clear
9  2012-10-01 21:00:00        26136  sky is clear  sky is clear
10 2012-10-01 22:00:00        26136  sky is clear  sky is clear

### Checking how many unique weather situation are there just to make sure it is a well replica of the Los Angeles state values

In [17]:
df['B'].unique()

['mist', 'sky is clear', 'fog', 'haze', 'few clouds', ..., 'proximity thunderstorm', 'thunderstorm with heavy rain', 'squalls', 'dust', 'proximity shower rain']
Length: 25
Categories (25, object): ['mist', 'sky is clear', 'fog', 'haze', ..., 'thunderstorm with heavy rain', 'squalls', 'dust', 'proximity shower rain']

## Taking the first Character as the representer of the category to reduce the number of weather states

In [18]:
df['B']=df['B'].astype(str).str[0]
df.head()

             datetime  Los Angeles     Las Vegas  B
1 2012-10-01 13:00:00         2961  sky is clear  m
2 2012-10-01 14:00:00        26136  sky is clear  s
3 2012-10-01 15:00:00        26136  sky is clear  s
4 2012-10-01 16:00:00        26136  sky is clear  s
5 2012-10-01 17:00:00        26136  sky is clear  s

### How many weather state has been change in the process and there corrosponding frequancies

In [19]:
df['B'].unique()

array(['m', 's', 'f', 'h', 'o', 'b', 'l', 't', 'd', 'v', 'p'],
      dtype=object)

In [20]:
df['B'].value_counts()

s    28621
h     3659
m     3442
b     2565
o     2432
f     2323
l     2056
d       71
t       34
p       29
v       20
Name: B, dtype: int64